## Алгоритм Нидлмана — Вунша

In [42]:
import pandas as pd

In [43]:
SEQUENCE1 = list('GATTACA')
SEQUENCE2 = list('GCATGCU')
SEQUENCE1, SEQUENCE2

(['G', 'A', 'T', 'T', 'A', 'C', 'A'], ['G', 'C', 'A', 'T', 'G', 'C', 'U'])

### Scoring system

In [44]:
MATCH = 1     # Две буквы одинаковые
MISMATCH = -1 # Две беуквы разные
GAP = -1    # INsetion or DELetion Одна буква выравнивается к gap'у ("-") другой строки 

def match_score(a, b):
    if a == b:
        return MATCH
    elif a == '-' or b == '-':
        return GAP
    else:
        return MISMATCH

In [45]:
m, n = len(SEQUENCE1), len(SEQUENCE2)
m, n

(7, 7)

### Вспомогательные функции

In [46]:
# Функция создает матрицу (m x n)
def zeros(m, n):
    retval = []
    for x in range(m):
        retval.append([])
        for y in range(n):
            retval[-1].append(0)
    return retval

# Функция печатает матрицу, используя pandas.DataFrame
def print_matrix(matrix):
    df = pd.DataFrame(matrix, columns=['-'] + SEQUENCE2, index=['-'] + SEQUENCE1)
    return df

In [47]:
score = zeros(m+1, n+1)
print_matrix(score)

   -  G  C  A  T  G  C  U
-  0  0  0  0  0  0  0  0
G  0  0  0  0  0  0  0  0
A  0  0  0  0  0  0  0  0
T  0  0  0  0  0  0  0  0
T  0  0  0  0  0  0  0  0
A  0  0  0  0  0  0  0  0
C  0  0  0  0  0  0  0  0
A  0  0  0  0  0  0  0  0

###  Инициализация таблицы

In [48]:
for i in range(0, m + 1):
    score[i][0] = GAP * i
for j in range(0, n + 1):
    score[0][j] = GAP * j
print_matrix(score)

   -  G  C  A  T  G  C  U
-  0 -1 -2 -3 -4 -5 -6 -7
G -1  0  0  0  0  0  0  0
A -2  0  0  0  0  0  0  0
T -3  0  0  0  0  0  0  0
T -4  0  0  0  0  0  0  0
A -5  0  0  0  0  0  0  0
C -6  0  0  0  0  0  0  0
A -7  0  0  0  0  0  0  0

### Заполняем таблицу

In [49]:
for i in range(1, m + 1):
    for j in range(1, n + 1):
        match = score[i - 1][j - 1] + match_score(SEQUENCE1[i-1], SEQUENCE2[j-1])
        delete = score[i - 1][j] + GAP
        insert = score[i][j - 1] + GAP
        score[i][j] = max(match, delete, insert)
print_matrix(score)

   -  G  C  A  T  G  C  U
-  0 -1 -2 -3 -4 -5 -6 -7
G -1  1  0 -1 -2 -3 -4 -5
A -2  0  0  1  0 -1 -2 -3
T -3 -1 -1  0  2  1  0 -1
T -4 -2 -2 -1  1  1  0 -1
A -5 -3 -3 -1  0  0  0 -1
C -6 -4 -2 -2 -1 -1  1  0
A -7 -5 -3 -1 -2 -2  0  0

### Traceback и вычисление выравнивания

In [50]:
ALIGN1, ALIGN2 = '', ''
# Начинаем с правого нижнего угла
i, j = m, n

# Двигаемся по направлению к левомому верхнему углу
while i > 0 and j > 0: 
    cur_score = score[i][j]
    up_score = score[i][j - 1]
    left_score = score[i - 1][j]
    diagonal_score = score[i - 1][j - 1]
    
    if cur_score == diagonal_score + match_score(SEQUENCE1[i - 1], SEQUENCE2[j - 1]):
        ALIGN1 += SEQUENCE1[i - 1]
        ALIGN2 += SEQUENCE2[j - 1]
        i -= 1
        j -= 1
    elif cur_score == left_score + GAP:
        ALIGN1 += SEQUENCE1[i - 1]
        ALIGN2 += '-'
        i -= 1
    elif cur_score == up_score + GAP:
        ALIGN1 += '-'
        ALIGN2 += SEQUENCE2[j - 1]
        j -= 1
        
# Заканчиваем движение к левому верхнему углу, если i > 0 или j > 0, добавляе gap'ы
while i > 0:
    ALIGN1 += SEQUENCE1[i - 1]
    ALIGN2 += '-'
    i -= 1
    
while j > 0:
    ALIGN1 += '-'
    ALIGN2 += SEQUENCE2[j - 1]
    j -= 1
    
# Реверсируем выравнивания
ALIGN1 = ALIGN1[::-1]
ALIGN2 = ALIGN2[::-1]

print(ALIGN1)
print(ALIGN2)

G-ATTACA
GCA-TGCU